<h3>MBGIE Vision</h3>
<p class=" my-lg-4 my-md-3 my-sm-2 my-2">To encorage and empower the youth towards psitive change</p>
<!-- Button trigger modal -->
@Html.ActionLink("Contact Us", "Contact", "Home", new { area = "" }, new { @class = "btn btn-primary" })
